<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <div class="container">
        <section id="changePwSection">
            <div class="wrapper">
                <div class="card">
                    <!-- title -->
                    <div th:if="${alert != null and alert != ''}" class="tit_wrapper">
                        <h5 class="title" style="color:red;" th:text="${alert}"></h5>
                        <h1 class="title">인증코드 입력</h1>
                    </div>
                    <div th:switch="${empty idAuth}">
                        <!-- 비밀번호 찾기할때 -->
                        <div th:case="true">
                            <!-- form -->
                            <form th:id="'resetPwForm_' + ${uniqueId}" th:action="@{/pf/auth/findpswd.do}" method="POST">
                                <div class="wrapper">
                                    <label th:id="'input_pw_label_' + ${uniqueId}" th:for="input_pw" class="label_input">
                                        <input type="text" th:id="'input_pw_' + ${uniqueId}" name="authNum"
                                               placeholder="인증번호 6자리를 입력하세요." />
                                        <input type="hidden" name="email" th:value="${email}" />
                                        <input type="hidden" name="token"
                                               value="96ee3e81f61574a3f61af14fb979f06758f34d7d1870da54046fa5cc0f482f384f59830c34d86b29f594ff7cdcfff0fc80ac35679a2bb0f003b01b38bb4896add54eb8f2637d91927bcca15597419bef0ecdc1d709f63ac5a31eaaefd638e897" />
                                    </label>
                                    <span th:id="'error_msg_' + ${uniqueId}" class="error_msg" style="display: block"></span>
                                </div>
                                <input type="submit" th:id="'submit_' + ${uniqueId}" name="submit" class="btn_submit active" value="인증하기" />
                            </form>
                        </div>

                        <!-- 아이디 인증할때 -->
                        <div th:case="false">
                            <!-- form -->
                            <form th:id="'resetPwForm_' + ${uniqueId}" th:action="@{/pf/auth/idAuth.do}" method="POST">
                                <div class="wrapper">
                                    <label th:id="'input_pw_label_' + ${uniqueId}" th:for="input_pw" class="label_input">
                                        <input type="text" th:id="'input_pw_' + ${uniqueId}" name="authNum"
                                               placeholder="인증번호 6자리를 입력하세요." />
                                        <input type="hidden" name="email" th:value="${email}" />
                                        <input type="hidden" name="token"
                                               value="96ee3e81f61574a3f61af14fb979f06758f34d7d1870da54046fa5cc0f482f384f59830c34d86b29f594ff7cdcfff0fc80ac35679a2bb0f003b01b38bb4896add54eb8f2637d91927bcca15597419bef0ecdc1d709f63ac5a31eaaefd638e897" />
                                    </label>
                                    <span th:id="'error_msg_' + ${uniqueId}" class="error_msg" style="display: block"></span>
                                </div>
                                <input type="submit" th:id="'submit_' + ${uniqueId}" name="submit" class="btn_submit active" value="인증하기" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</html>