<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <div class="container">
        <section id="changePwSection">
            <div class="wrapper">
                <div class="card">
                    <!-- title -->
                    <div th:if="${alert != null and alert != ''}" class="tit_wrapper">
                        <h1 class="title" style="color: red">${alert}</h1>
                        <h1 class="title">비밀번호 재설정</h1>
                    </div>
                    <!-- form -->
                    <form id='resetPwForm' action="/pf/auth/resetPw.do" method="POST">
                        <div class="wrapper">
                            <!-- ### add class "error" -->
                            <label id="input_pw_label" for="input_pw" class="label_input">
                                <input type="password" id="input_pw" name="passwd"
                                       placeholder="비밀번호 (특수문자 포함 8자 이상)" />
                                <input type="hidden" name="email" value="${email}"/>
                                <input type="hidden" name="token"
                                       value="96ee3e81f61574a3f61af14fb979f06758f34d7d1870da54046fa5cc0f482f384f59830c34d86b29f594ff7cdcfff0fc80ac35679a2bb0f003b01b38bb4896add54eb8f2637d91927bcca15597419bef0ecdc1d709f63ac5a31eaaefd638e897" />
                            </label> <span id='error_msg' class="error_msg" style="display: block"></span>
                        </div>
                        <input type="submit" id="submit" name="submit" class="btn_submit active" value="재설정" />
                    </form>
                </div>
                <span class="copyright">ⓒ Realbyte Inc</span>
            </div>
        </section>
    </div>
</th:block>
</html>