<!--================================
    START FOOTER AREA
=================================-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerLayout">
    <footer class="footer-area">
        <div class="mini-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>
                                <a href="#">Ksuju</a>의&nbsp;<a href="#">Portfolio</a>에&nbsp;오신것을&nbsp;환영합니다!
                            </p>
                            <p>
                                <!--&copy;&nbsp;2024&nbsp;Ksuju.&nbsp;마지막 업데이트 : <span th:text="${lastUpdateDate}"></span>-->
                                &copy;&nbsp;2024&nbsp;Ksuju.&nbsp;마지막 업데이트 : <span>2024년 11월 18일</span>
                            </p>
                        </div>

                        <div class="go_top">
                            <span class="lnr lnr-chevron-up"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>
<!--================================
    END FOOTER AREA
=================================-->